#alertThink{

  text-align: center;
  width: 90%;
}
.alert.cold {
  background-color:DeepSkyBlue;
}
.alert.warm {
  background-color: Chocolate;
}



#guessValue {
    font-weight:bold;
    color:midnightblue;
}

.slidecontainer {
    width: 100%;

  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: orangered;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: orangered;
    cursor: pointer;
  }

  /* Large screens */
@media all and (min-width: 800px) {
  #alertThink{
    bottom: auto;
    width: 60%;
    left: 20%;
    top: 440px;
  }
}